html, body {
    height: 100%;
}

#push,
#footer {
    height: 40px;
}

#footer {
    border-top: 1px #e4e4e4 solid;
    border-top-radius: 4px;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    background-color: #fff;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
}

.vertical-center {
    min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 90vh;
    display: flex;
    align-items: center;
}

.form-box {
    padding: 20px;
    border: 1px #e4e4e4 solid;
    border-radius: 4px;
    box-shadow: 0 0 6px #ccc;
    background-color: #fff;
}

